body{
    width:80%;
    padding:0%;
    margin:0 5%;
    position:absolute;
}
.content{
    width:80%;
    margin:auto;
    padding:0%;
    border:1px solid black;
}
.bookInfo{
    margin-left:10px;
}
.nameAuthors{
    margin-left:20px;
}
.borderForInfo{
    border:1px solid black;
    margin:25px;
    padding:10px;

}
.menu{
    position:fixed;
    align:top;
    width:150px;
    margin:0px;
}
.block{
    float:left;
    width:30%;
    min-height:10%;
}
.block input{
    width:80%;
    font-size:14px;
}
form input{
    margin:5px;
}
form select{
    margin:5px;
    font-size:14px;
    min-height:22px;
}